
		body {
			background-image: url('img.jpg');
			  background-size: cover;  /* Menyesuaikan dengan layar HP */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  /* Pastikan memenuhi tinggi layar */
    margin: 0;
		}
